[Unit]
Description=Prometheus exporter for OpenStack

Wants=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10s
EnvironmentFile=/etc/environment

ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStartPre=/usr/bin/docker pull {{ openstack_exporter_image }}
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --env-file /etc/default/openstack-exporter \
{% if openstack_exporter_network | default(False) %}
  --network {{ openstack_exporter_network }} \
{% endif %}
{% if openstack_exporter_publish | default(False) %}
  --publish {{ openstack_exporter_publish }}:9180 \
{% endif %}
  --volume /etc/openstack/clouds.yaml:/etc/openstack/clouds.yaml \
  {{ openstack_exporter_image }} default

[Install]
WantedBy=multi-user.target
